@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.background {
    background-color: #5FC8D7;
    height: 50vh;
}

.white {
    border-style: solid;
    border-width: 7px;
    border-color: white;
    height: 400px;
    width: 90%;
    position: relative;
    margin: 20px;
    display: block;
}

.info {
    text-align: center;
    margin-top: 15px;
    line-height: 75%;
}

.icon {
    max-width: 50px;
    max-height: 50px;
    display: inline-block;
    position: relative;
    margin: auto;
    cursor: pointer;
}

.logo {
    max-width: 100px;
    max-height: 100px;
    display: block;
    position: relative;
    margin: auto;
}


