@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.background {
    background-color: #5FC8D7;
    margin-right: 0;
    margin-left: 10px;
    overflow-x: hidden;
    padding-top: 4em;
}



.info {
    text-align: center;
    margin-top: 15px;
    line-height: 75%;
}

.icon {
    max-width: 35px;
    max-height: 35px;
    position: relative;
    margin: auto;
    cursor: pointer;
}

.logo {
    max-width: 130px;
    max-height: 130px;
    display: block;
    position: relative;
    margin: auto;   
}

.white {
    border-style: solid;
    border-width: 5px;
    border-color: #727272;
    height: 390px;
    width: 90%;
    position: relative;
    margin: 10px;
    display: inline-block;

}

.title {
    font: normal 100%/1.5 sail,cursive;
    color: white;
    font-size: 24px;
}

p {
    color: white;
    font: normal 100%/1.5 Oswald,sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;  
}

footer {
    bottom: 5px;
    margin: 20px;
    color: white;
    font: normal 100%/1.5 Oswald,sans-serif;
    position: absolute;
    display: inline-block;
}
